.button-store {
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  line-height: 60px; /* alinhar verticalmente quando há apenas uma linha */
  border: solid 2px #252c41;
  background-color: #252c41;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  float: left;
  margin-top: 98px;
  
}

.button-store.-second {
  width: 200px;
  color: #ffffff;
  width: 218px;
  border: solid 2px #ffffff;
  background-color: transparent;
  margin-right: 38px;
}

