.container-store {
  /*  position: absolute;*/
    top: 50%;
    left: 50%;
   /* transform: translateX(-50%) translateY(-25%);*/
    background-color: #e24647;
    width: 80%;
    padding: 55px 60px 95px 0;
    font-family: "Roboto", sans-serif;
    
  }


 