.datails-store {
  color: #fff;
  line-height: 1.2;
  text-align: left;
  margin-top: 40px;
}

.description , .value, .va
.title-details {
  
  color: #fff;
}

.value {
  font-size: 20px;
  color: #fff;
}


