body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #e24647;
  color: #ffffff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 40px;
  float: left;
}

nav {
  font-size: 21px;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
  margin-left: 55px;
}

button {
  width: 199px;
  height: 60px;
  border: solid 2px #252c41;
  background-color: #252c41;
  color: #ffffff;
  font-size: 20px;
  margin: 0 115px;
  float: right;
}
